@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap');

.out, .outMain {
    height: 100%;
}

.out, .outMain, p, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cursorPoint:hover {
    cursor: pointer;
}

.Ag3 {
    font: 300 20px/30px 'Raleway', sans-serif;
}

.Ag4 {
    font: 400 18px/21px 'Raleway', sans-serif;
}

.Ag41 {
    font: 400 20px/23px 'Raleway', sans-serif;
}

.Ag6 {
    font: 600 27px/31px 'Raleway', sans-serif;
}

.Ag61 {
    font: 600 24px/45px 'Raleway', sans-serif;
}

.Ag62 {
    font: 600 25px/28px 'Raleway', sans-serif;
}

.Ag7 {
    font: 700 50px/60px 'Raleway', sans-serif;
}

.Ag81 {
    font: 800 14px/16px 'Raleway', sans-serif;
}

.Ag8l {
    font: 800 22px/26px 'Raleway', sans-serif;
}

.Ag8 {
    font: 800 80px/80px 'Raleway', sans-serif;
}

.colorWhite {
    color: #FFFFFF;
}

.VividBrown {
    background-color: #BF8341;
}

.weMade {
    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: linear;
    display: block;
    margin: -6.3% 0 -4.2% -10%;
    text-indent: 10%;
    clip-path: polygon(4.49% 20.96%, 99.04% 8.14%, 99% 89.62%, 12px 79.55%);
    font: 600 24px/83px 'Raleway', sans-serif;
    background: #FFFFFF url('../img/arrowRight.svg') 90% center no-repeat;
    background-color: transparent;
}

.VividBrownTrapezoid {
    color: #ffffff;
    background-color: #BF8341;
}

.Head {
    height: 100%;
    position: relative;
}

.Head::before {
    content: '';
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    opacity: .3;
    clip-path: polygon(0 0, 100% 0, 100% 76.7%, 0 91.8%);
}

.headBack {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.hd1 {
    background: url("../img/topBack.png") center center no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 76.7%, 0 91.8%);
}

.hd2 {
    background: url("../img/test2.jpg") center center no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 76.7%, 0 91.8%);
}

.hd3 {
    background: url("../img/test3.jpg") center center no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 76.7%, 0 91.8%);
}

.hd4 {
    background: url("../img/test4.jpg") center center no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 76.7%, 0 91.8%);
}

.hd5 {
    background: url("../img/test5.jpg") center center no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 76.7%, 0 91.8%);
}

.headBack {
    opacity: 0;
    transition: opacity .7s linear;
    visibility: collapse;
}

.actBack {
    opacity: 1;
    visibility: visible;
}

.firstSet {
    max-width: 1600px;
    margin: auto;
    position: relative;
}

.firstLine {
    display: flex;
    justify-content: space-between;
}

.leftTop {
    flex: 0.66 auto;
}

.leftCorner {
    display: flex;
    justify-content: space-between;
    max-width: 364px;
    margin: 33px 0 0 auto;
}

.phones {
    display: flex;
    align-items: center;
}

.viberIcon, .telegramIcon {

    margin: 0 4px;
}

.phone {
    font-size: 19px;
}

.phoneBold {
    font-weight: 700;
}

.catTitle {
    display: flex;
    max-width: 371px;
    margin: 25px 0 0 auto;
    align-items: center;
}

.burger {
    height: 20px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 9px 0 0;
}

.burgerLine {
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.bl2 {
    width: 50%
}

.bl3 {
    width: 70%
}

.catalog {
    max-width: 370px;
    margin: 14px 0 0 auto;
    display: flex;
    flex: 3 1 auto;
}

.catTitleP {
    letter-spacing: -0.4px;
}

.catalogItem {
    padding: 0 9% 0 0;
}

.centerTop {
    flex: 1 1 auto;
    width: 200px;
    display: block;
    height: 134px;
    margin: 27px 0 0;
}

.rightTop {
    flex: 0.7 1 auto;
    padding: 2% 0 0;
}

.rightTopMenu {
    display: flex;
    justify-content: space-between;
    max-width: 306px;
}

.socialRight {

    align-items: center;
}

.socialRightLi {

    min-width: 170px;
    display: flex;
    justify-content: space-between;
}

.globes {
    display: flex;
    flex: 0.1 1 auto;
}

.globesTitle {
    display: flex;
}

.mainMenu {
    display: flex;
    max-width: 310px;
    flex-wrap: wrap;
    justify-content: end;
    padding: 5% 0 0;
}

.mainMenuLi {
    padding: 2% 5%;
}

.secondLine {
    display: flex;
    padding-top: 5%;
    position: relative;
    overflow: hidden;
}

.slideNavy {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    max-width: 1900px;
    margin: 7.6% auto 0;
}

.slideNavySet {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90px;
}

.arrowRight {
    display: flex;
    justify-content: end;
    transition: transform .7s linear;
}

.zoom {
    transition: transform .7s linear;
}

.zoom:hover {
    transform: scale(1.1);
}

.position {
    display: flex;
    justify-content: space-between;
}

.mainProp {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
}

.mainProposition {
    flex: 0.1 1 auto;
    opacity: 0;
    visibility: collapse;
    transition: opacity, visibility .7s linear;
    position: absolute;
}

.mpAct {
    visibility: visible;
    opacity: 1;
}

.headMain {
    max-width: 580px;
    font-size: 87px;
    padding: 10.5% 0 11.6% 0;
    line-height: 89px;
    transform: translateX(12%);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: .7s;
    transition-timing-function: linear;
}

.actTitle {
    opacity: 1;
    transform: translateX(0);
}

.actionMain {
    position: relative;
    display: block;
    max-width: 307px;
    padding: 16px 14px;
    font-size: 25px;
    letter-spacing: .2px;
    text-align: center;
    line-height: 31px;
    opacity: 0;
    transition-delay: .7s;
    transition-property: opacity;
    transition-duration: .7s;
    transition-timing-function: linear;
}

.actM {
    opacity: 1;
}

.Slider {
    height: 73.2vh;
    background-size: cover;
    position: relative;
    flex: 3 1 auto;
    z-index: 0;
    left: 15%;
}

.SliderItem.currentSlide {
    opacity: 0;
}

.SliderItem {
    width: 53%;
    height: 96%;
    background-size: cover;
    position: absolute;
    left: 3%;
    opacity: 0;
    transition-property: clip-path, left, opacity;
    transition-duration: .9s, 1s, .9s;
    transition-delay: .1s, .2s, 0s;
    transition-timing-function: ease;
}

.currentSlide {
    /*! opacity: 1; */
    clip-path: polygon(-5.25% 11.18%, 100% -1.25%, 100% 100%, 0 90.7%);
}

.SI0 {
    top: 0;
    background: url("../img/test1.jpg") center center no-repeat;
}

.SI0act {
    left: 0;
    clip-path: polygon(7.77% 19.18%, 7.71% 9.69%, 7.3% 97.68%, 54px 92.94%);
}

.SI1 {
    top: 0;
    background: url("../img/test2.jpg") center center no-repeat;
    clip-path: polygon(84.99% 17.64%, 101.51% 5.73%, 101.11% 99.26%, 87% 92.87%);
    left: 20%;
}

.SI1act {
    left: 0;
    clip-path: polygon(7.77% 19.18%, 7.71% 9.69%, 8.98% 97.96%, 8.77% 92.94%);
}

.SI2 {
    top: 0;
    background: url("../img/test3.jpg") center center no-repeat;
    clip-path: polygon(84.69% 20.98%, 99.73% 6.5%, 99.62% 98.88%, 86% 90.44%);
    left: 20%;
}

.SI2act {
    opacity: 1;
    left: 0;
    clip-path: polygon(7.77% 19.18%, 7.71% 9.69%, 7.3% 97.68%, 54px 92.94%);
}

.SI3 {
    top: 0;
    background: url("../img/test4.jpg") center center no-repeat;
    clip-path: polygon(86.33% 24.95%, 101.51% 5.73%, 101.11% 99.26%, 87% 91.34%);
    left: 20%;
}

.SI3act {
    left: 0;
    clip-path: polygon(7.77% 19.18%, 7.71% 9.69%, 7.3% 97.68%, 54px 92.94%);
}

.SI4 {
    top: 0;
    background: url("../img/test5.jpg") center center no-repeat;
    clip-path: polygon(78.46% 19.31%, 101.51% 5.73%, 101.11% 99.26%, 532px 90.82%);
    left: 20%;
}

.SI4act {
    left: 0;
    clip-path: polygon(7.77% 19.18%, 7.71% 9.69%, 7.3% 97.68%, 7.2% 92.94%);
}

.currentSlide.SI0 {
    clip-path: polygon(14.75% 19.18%, 91.08% 8.75%, 91.39% 99.25%, 15% 90.76%);
}

.currentSlide.SI1act {
    clip-path: polygon(8.03% 3.13%, 97.47% 19.18%, 97.21% 97.2%, 8% 99.93%);
}

.currentSlide.SI2act {
    clip-path: polygon(7.88% 14.78%, 97.32% 8.28%, 97.35% 99.38%, 8% 83%);
}

.currentSlide.SI3act {
    clip-path: polygon(12.78% 0.5%, 100% 4.85%, 100% 91.49%, 13% 99%);
}

.prevSlide {
    opacity: 0;
    left: -5%;
    transition-duration: .9s, 1s, .2s;
    transition-delay: .1s, .2s, .7s;
}

.currentSlide {
    opacity: 1;
    clip-path: polygon(14.75% 19.18%, 91.08% 8.75%, 91.39% 99.25%, 14% 90.76%);
    left: 5%;
}

.SliderBack {
    bottom: 0;
    width: 70%;
    height: 67.4%;
    position: absolute;
    z-index: -1;
    background-color: #d0d0d0;
    opacity: 0;
    transition-property: clip-path, left, opacity, width;
    transition-duration: .9s, .8s, .9s, .9s;
    transition-delay: 0s, .2s, .1s, 0s;
    transition-timing-function: ease;
    left: 0;
}

.SB0 {
    clip-path: polygon(7.34% 0.34%, 102.57% 27.82%, 104.68% 80.65%, 6px 100.31%);
    left: 25%;
    width: 25%;
}

.SB1 {
    clip-path: polygon(1.73% 20.79%, 100.04% -0.48%, 101.21% 100.19%, 5px 84.06%);
    width: 26%;
    left: 32%;
}

.SB2 {
    clip-path: polygon(41.93% 10.97%, 60.07% 17.63%, 58.83% 91.46%, 41% 100.01%);
    width: 35%;
    left: 42%;
}

.SB3 {
    clip-path: polygon(30.53% 21.18%, 113.09% 5.59%, 112.52% 98.84%, 30% 85.57%);
    left: 45%;
    width: 35%;
}

.prevSlideSB {
    opacity: 0;
    left: 40%;
    width: 0;
    clip-path: polygon(1.73% 20.79%, 100.04% -0.48%, 101.21% 100.19%, 1% 84.06%);
    transition-duration: .9s, .8s, .2s, .2s;
    transition-delay: 0s, .2s, .8s, .8s;
}

.currentSlideSB {
    opacity: .6;
}

.currentSlideSB.SB0 {
    clip-path: polygon(7.34% 0.34%, 100.22% 11.09%, 99.62% 90.42%, 9.05% 99.3%);
    left: 13%;
    width: 8.9%;
}

.currentSlideSB.SB1 {
    clip-path: polygon(8.37% 3.81%, 100.04% -0.48%, 101.21% 100.19%, 1% 93.74%);
    left: 12%;
    width: 8.9%;
}

.currentSlideSB.SB2 {
    clip-path: polygon(0% 0.34%, 100% 11.93%, 101.21% 96.17%, 0% 100%);
    left: 14%;
    width: 8.9%;
}

.currentSlideSB.SB3 {
    clip-path: polygon(3.21% 4.72%, 108.32% -0.31%, 104.31% 95.98%, 1% 93.01%);
    left: 15%;
    width: 8.9%;
}

.secondDisplay {
    display: flex;
    height: 100%;
    position: relative;
}

.Slider2 {
    flex: 4 1 28.9%;
    position: relative;
    height: 100%;
}

.photo {
    width: 72%;
    height: 100%;
    background-size: cover;
    position: absolute;
    opacity: 0;
    transition-property: opacity, clip-path, right, width;
    transition-duration: .7s, .7s, .7s, .7s;
    transition-timing-function: linear;
    transition-delay: .7s, .5s, .5s, .9s;
}

.p1 {
    top: 0;
    background: url("../img/test1.jpg") center center no-repeat;
    clip-path: polygon(0.1% 14.69%, 98.99% 4.43%, 98.98% 100.12%, 0.14% 90.35%);
    right: 16%;
    margin: auto;
    width: 28%;
    height: 77.9%;
}

.p2 {
    top: 0;
    background: url("../img/test2.jpg") center center no-repeat;
    clip-path: polygon(-0.21% 6.26%, 99.41% 12.2%, 98.90% 96.35%, -0.26% 99.82%);
    right: 8%;
    margin: auto;
    height: 73.5%;
    width: 8%;
}

.p3 {
    top: 0;
    background: url("../img/test3.jpg") center center no-repeat;
    clip-path: polygon(0.44% 5.5%, 98.98% 0.34%, 99.57% 100.25%, 0.39% 88.94%);
    right: 8%;
    margin: auto;
    width: 48.4%;
    height: 73%;
}

.p4 {
    top: 0;
    background: url("../img/test4.jpg") center center no-repeat;
    clip-path: polygon(0.01% 6.47%, 99.63% 10.47%, 100% 85.07%, -0.26% 99.36%);
    right: 8%;
    margin: auto;
    width: 48%;
    height: 74%;
}

.p5 {
    top: 0;
    background: url("../img/test5.jpg") center center no-repeat;
    clip-path: polygon(25.94% 14.51%, 99.85% 2.68%, 100% 85.07%, 26.11% 76.35%);
    right: 13%;
    margin: auto;
}

.photoAct {
    opacity: 1;
    right: 6%;
}

.photoAct.p1 {
    clip-path: polygon(0.1% 14.69%, 98.99% 4.43%, 98.98% 100.12%, 0.14% 90.35%);
    width: 48%;
}

.photoAct.p2 {
    clip-path: polygon(-0.21% 6.26%, 99.41% 12.2%, 98.90% 96.35%, -0.26% 99.82%);
    width: 48%;
}

.photoAct.p3 {
    clip-path: polygon(-0.21% 6.26%, 99.41% 12.2%, 98.90% 96.35%, -0.26% 99.82%);
    width: 48%;
}

.photoAct.p4 {
    clip-path: polygon(-0.21% 6.26%, 99.41% 12.2%, 98.90% 96.35%, -0.26% 99.82%);
    width: 48%;
}

.photoNoAct.p1 {
}

.photoNoAct.p2 {
}

.photoNoAct.p3 {
}

.photoNoAct.p4 {
}

.photoNoAct {
    right: 75%;
    width: 10%;
    clip-path: polygon(34.60% 28.83%, 79.3% 7.57%, 75.2% 90.14%, 34.73% 80.96%);
    transition-duration: .7s, .7s, .7s, .3s;
    transition-delay: .1s, .1s, .1s, .3s;
}

.SliderSec {
    height: 67.4%;
    position: absolute;
    z-index: -1;
    background-color: #d0d0d0;
    transition-property: clip-path, left, opacity, width;
    transition-duration: .9s, .8s, .9s, .5s;
    transition-delay: 0s, .2s, .1s, .5s;
    transition-timing-function: ease;
    clip-path: polygon(3.54% -0.06%, 100.56% 11.8%, 100.51% 90.08%, 1px 99.78%);
    left: 47.1%;
    width: 11.1%;
    bottom: auto;
    top: 23%;
}

.content {
    flex: 0.05 1 auto;
    padding: 4.7% 0;
}

.contentH2 {
    line-height: 67px;
    font-size: 56px;
    letter-spacing: -0.9px;
    max-width: 450px;
}

.contentP {
    line-height: 33px;
    letter-spacing: 1px;
    max-width: 550px;
    margin: 4.3% 0 0 0;
}

.SecSliderMenu {
    margin: 3.9% 0 3.3% 0;
    display: flex;
    flex-wrap: wrap;
}

.SecSliderMenuLi {
    padding: 2.9% 1%;
    width: 40%;
}

.AllList {
    border: 2px solid #C26E1F;
    color: #9C6E40;
    display: block;
    width: max-content;
    padding: 15px 22px;
    font-size: 18px;
}

.SliderSecBack {
    right: 7.6%;
    left: auto;
    width: 22.5%;
    clip-path: polygon(0.97% 15.81%, 100.09% 0.2%, 99.34% 99.72%, 3px 88.06%);
    top: 30%;
    height: 73.8%;
    background-color: #FBF5F1;
}